html {
    height: 100%;
}
body {
    /*background: linear-gradient(0, #6d4a80, #c486e0);*/
    background: linear-gradient(0, #4a6380, #4d8380);
    background-size: auto;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
  font-family: FONT1;
  src: url(fonts/SatoshiMedium.ttf);
}

@font-face {
  font-family: FONT2;
  src: url(fonts/SatoshiMedium.ttf);
}

a:link {
  color: rgb(214, 214, 214);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
  color: rgb(214, 214, 214);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(172, 172, 172);
    background-color: transparent;
}

a:active {
    color: rgb(133, 140, 187);
    background-color: transparent;
}

a:link {
  color: rgb(214, 214, 214);
    background-color: transparent;
    text-decoration: none;
}

div.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.a {
  text-align: left;
  font-family: FONT1;
  font-size: 72px;
  line-height: 1;
  color: white;
}

div.b {
  font-family: FONT1;
  font-size: 36px;
  line-height: 1;
  color: white;
}

div.c {
  font-family: FONT1;
  font-size: 22px;
  line-height: 1.5;
  color: white;
}

div.d {
  font-family: FONT1;
  font-size: 24px;
  line-height: 1.25;
  color: white;
}

li{
  list-style: none;
  max-width:1000px;
  word-wrap:break-word;
}

div.e {
  font-family: FONT1;
  font-size: 32px;
  line-height: 1;
  color: white;
}

div.f {
  font-family: FONT1;
  font-size: 48px;
  line-height: 1;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

code {
  font-family: Consolas,"courier new";
  color: rgb(185, 227, 255);
  background-color: linear-gradient(0, #1c2631, #315352);
  padding: 2px;
  font-size: 100%;
}

mark.red {
  color:rgb(255, 121, 121);
  background: none;
}

mark.blue {
  color:rgb(121, 239, 255);
  background: none;
}

mark.purple {
  color:rgb(221, 169, 255);
  background: none;
}

mark.orange {
  color:rgb(255, 201, 121);
  background: none;
}

/* WEBRING SHITE */

#stargaze-webring {
  margin: 0 auto;
  padding: 15px;
}

#stargaze-webring table {
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
}

#stargaze-webring table tr td {
  padding: 15px;
}

#stargaze-webring .webring-prev {
  text-align: right;
}

#stargaze-webring .webring-info {
   font-family: FONT1;
   text-align: center;
}

#stargaze-webring .webring-arrow a {
  font-size: large;
  text-decoration: none;
}

#stargaze-webring .webring-next {
  text-align: left;
}

#stargaze-webring .webring-links {
  font-size: small;
}
